.card {
  padding: 2vh;
  background-color: #a64e00;
  border-radius: 2.5vh;
  will-change: transform;

  .header {
    text-align: center;
    margin-bottom: 1vh;
    font-size: 2vh;
  }

  .bottom {
    padding-top: 1vh;
    font-size: 1.2vh;
    text-align: right;
    display: flex;
    justify-content: space-between;
  }
}
